html
  head
    title Music
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js');
  body
    header
      h1 Music!
    ul    
      each artist in topartists.artist
        li #{artist.name}
